body {
    margin: 0;
    min-width: 360px;
    min-height: 570px;
    height: auto;
    background-color: #0A081F;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    background-color: #0A081F;
    color: #FEC803;
    min-width: 360px;
}

.containerLogo{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#imgLogo {
    max-width: 100px;
    width: auto;
    height: auto;
    margin: 10px;
}

#escritaLogo {
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCorpoLogin {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.avisoSenha {
    display: none;
    margin-bottom: 0;
    font-size: 20px;
    color: #FF0305;
}

.containerSenha {
    width: 330px;
    height: 107px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.inputsUsuario {
    padding-left: 5px;
    margin: 0;
    width: 320px;
    height: 58px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 1.5em;
    color: black;
}

#senhaUsuario {
    width: 320px;
    height: 60px;
}

::-webkit-input-placeholder {
    color: #504D4D;
 }

 :-moz-placeholder { /* Firefox 18- */
    color: #504D4D;
 }

 ::-moz-placeholder {  /* Firefox 19+ */
    color: #504D4D;
 }

 :-ms-input-placeholder {
    color: #504D4D;
 }

#imagemVisibilidadeSenha {
    position: relative;
    right: -270px;
    top: -54px;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

#esqueceuSenha {
    position: relative;
    top: -30px;
    font-size: 30px;
    background-color: #0A081F;
    color: #FEC803;
    text-decoration: none;
    border: 0;
}

#entrar {
    position: relative;
    top: -30px;
    background-color: #FEC803;
    font-size: 60px;
    font-weight: bolder;
    min-width: 310px;
    height: 100px;
    margin: 10px;
    cursor: pointer;

}

#cadastrese {
    position: relative;
    top: -35px;
    background-color: #0A081F;
    color: #FEC803;
    border: 0;
    font-size: 30px;
    text-decoration: none;
}