body {
    margin: 0;
    min-width: 360px;
    min-height: 570px;
    height: auto;
    background-color: #0A081F;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    background-color: #0A081F;
    color: #FEC803;
    min-width: 360px;
}

.containerLogo{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#imgLogo {
    max-width: 50px;
    width: auto;
    height: auto;
    margin: 10px;
}

#escritaLogo {
    font-size: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerCorpo {
    display: flex;
    flex-flow: column;
    align-items: center;
}

::-webkit-input-placeholder {
    color: #504D4D;
 }

 :-moz-placeholder { /* Firefox 18- */
    color: #504D4D;
 }

 ::-moz-placeholder {  /* Firefox 19+ */
    color: #504D4D;
 }

 :-ms-input-placeholder {
    color: #504D4D;
 }

.inputsUsuario {
    padding-left: 5px;
    margin: 0;
    width: 320px;
    height: 58px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 2em;
    color: black;
}

 .containerSenha {
     width: 330px;
     display: flex;
 }

 #imagemVisibilidadeSenha, #imagemVisibilidadeSenhaConfirmacao {
     position: relative;
     left: -60px;
     top: 20px;
     width: 50px;
     height: 40px;
 }

 #cadastrese {
     background-color: #FEC803;
     font-size: 50px;
     font-weight: bolder;
     min-width: 310px;
     height: 80px;
     margin: 10px;
     margin-bottom: 0;
    cursor: pointer;
 }

 #entrar {
     background-color: #0A081F;
     color: #FEC803;
     border: 0;
     font-size: 30px;
     text-decoration: none;
     margin-bottom: 20px;
 }

#selecioneOpcao {
}