body {
    margin: 0;
    min-width: 360px;
    min-height: 570px;
    height: auto;
    background-color: #0A081F;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    background-color: #0A081F;
    color: #FEC803;
    min-width: 360px;
}

.containerLogo{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#imgLogo {
    max-width: 100px;
    width: auto;
    height: auto;
    margin: 10px;
}

#escritaLogo {
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerBody {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    color: #FEC803;
}

.escritaIndicacao {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    margin: 10px 0 5px;
}

#adicionarCompetencia, #adicionarColaborador, #botaoCriar {

    border: 0;
    width: 320px;
    height: 50px;
    margin-top: 5px;

    background-color: #39B045;
    box-shadow:
    3px 3px 4px #39B045,
    -3px -3px 4px #39B045,
    -3px 3px 4px #39B045,
    3px -3px 4px #39B045;

    font-size: 40px;
    font-weight: bold;

    cursor: pointer;
}

.containerCompetencias, .containerColaboradores {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.competencia, .colaborador, #nomeProjeto {
    margin: 5px 0;
    width: 320px;
    height: 45px;
    padding: auto 5px;
    font-size: 20px;
    border-radius: 15px;
}

#botaoCriar {
    margin-top: 18px;

}

.containerPerfil {
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A081F;
    color: #FEC803;
    overflow: hidden;
}

#containerImagemPerfil {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ImagemPerfil {
    max-width: 130px;
    position: relative;
}

.nomePerfil {
    font-size: 2em;
}

#botaoLogout {
  background-color: #0a081f;
  color: #FF0305;
  border: 0;
  margin-left: 3px;
  font-size: 20px;
  right: 5px;
}