body {
  margin: 0;
  min-width: 360px;
  min-height: 570px;
  height: auto;
  background-color: #0a081f;
  font-family: "inter", Arial, Helvetica, sans-serif;
}

header {
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  background-color: #0a081f;
  color: #fec803;
  min-width: 360px;
}

.containerLogo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#imgLogo {
  max-width: 100px;
  width: auto;
  height: auto;
  margin: 10px;
}

#escritaLogo {
  font-size: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBody {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.containerNovoProjeto {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.botaoNvovoProjeto {
  margin: 10px 0;
  width: 200px;
  height: 50px;
  background-color: #39b045;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px #39b045, -3px -3px 4px #39b045, -3px 3px 4px #39b045,
    3px -3px 4px #39b045;
  font-size: 60px;
  text-decoration: none;
}

.botaoRemoverProjeto {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  font-size: 30px;
  border: 0;
  border-radius: 15px;
  background-color: #FF0305;
}

.popUp {
  border: #0a081f 2px solid;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  top: 110px;
  background-color: #ecf0f6;
  width: 320px;
  color: #0a081f;
  border-radius: 15px;
  padding: 5px;
}

#escritaNomeProjeto {
  margin: 5px 0;
  text-align: center;
}

#nomeProjetoRemover {
  font-size: 20px;
}

.subescritoPopUp {
  display: block;
  font-size: 20px;
}

#botaoRemoveBanco {
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  border: 0;
  color: #fec803;
  font-size: 30px;
  background-color: #0a081f;
}

.containerProjetos {
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.containerCard {
  width: 320px;
  max-width: 320px;
  margin: 3px;
  color: #0a081f;
  background-color: #ecf0f6;
  border-radius: 15px;
  border: black 2px solid;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.containerCard h2 {
  margin: 5px;
  font-size: 40px;
}

.containerCard h3 {
  margin: 5px;
  font-size: 30px;
}

.containerCard p {
  margin: 5px;
  font-size: 25px;
}

.containerPerfil {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0a081f;
  color: #fec803;
  overflow: hidden;
}

.nomePerfil {
  height: 41px;
  max-width: 200px;
  text-anchor: start;
  text-align: left;
  overflow: hidden;
  font-size: 2em;
}

.espacofooter {
  color: none;
  height: 160px;
  width: 100%;
}

#botaoLogout {
  background-color: #0a081f;
  color: #FF0305;
  border: 0;
  margin-left: 3px;
  font-size: 20px;
  right: 5px;
  cursor: pointer;
}
